<div class="navigation">
  <!-- <button routerLink="/results"> YOUR RESULTS</button> -->
  <a href="/results"
    ><button id="real" class="practice">Your Results</button></a
  >
  <a href="/practise-test"
    ><button id="real" class="practice">Practice</button></a
  >
  <button>Assessments</button>
  <button>Completed</button>
</div>
<div class="container">
  <!-- <div class="photo">
    <img src="/assets/test.jpg" alt="">
  </div> -->
  <p *ngFor=""></p>
  <div class="main" *ngFor="let assessment of userData.assessments">
    <h5>NestedList:Python</h5>
    <div class="info">
      <div class="duration">
        <div class="left">
          <span
            ><img src="/assets/time.png" class="time" />&nbsp; Time Limit</span
          >
        </div>
      </div>
      <div class="duration">
        <div class="left">
          <span>
            <img src="/assets/time.png" class="time" />&nbsp; Duration</span
          >
        </div>
      </div>
    </div>
    <!-- <button class="status">Not Started</button> -->
  </div>

  <div class="action">
    <a href="/take-test"
      ><button id="real" class="real">Start Assessment</button></a
    >
  </div>
</div>
  

