/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap");
@import "../node_modules/prismjs/themes/prism.css";
@import "../node_modules/prismjs/plugins/toolbar/prism-toolbar.css";
* {
  font-family: "M PLUS Rounded 1c", sans-serif;
}
body {
  background-color: #101f3c;
  height: 100vh;
}

app-practice-test {
  padding-bottom: 5vw;
}
